---
const { title } = Astro.props;
---

<header
  class="fixed top-0 flex w-full flex-wrap py-4 text-sm sm:flex-nowrap sm:justify-start"
>
  <nav
    class="mx-auto w-full max-w-[85rem] px-4 sm:flex sm:items-center sm:justify-between"
    aria-label="Global"
  >
    <div class="flex items-center justify-between">
      <a
        class="flex-none text-2xl text-xl font-semibold dark:text-white"
        href="https://dan-wilton.github.io/portfolio"
        >{title}
      </a>
      <div class="sm:hidden">
        <button
          type="button"
          class="hs-collapse-toggle inline-flex items-center justify-center gap-x-2 rounded-lg border border-gray-200 bg-white p-2 text-gray-800 shadow-sm hover:bg-gray-50 disabled:pointer-events-none disabled:opacity-50 dark:border-gray-700 dark:bg-transparent dark:text-white dark:hover:bg-white/10 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
          data-hs-collapse="#navbar-with-mega-menu"
          aria-controls="navbar-with-mega-menu"
          aria-label="Toggle navigation"
        >
          <svg
            class="size-4 flex-shrink-0 hs-collapse-open:hidden"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <line x1="3" x2="21" y1="6" y2="6"></line><line
              x1="3"
              x2="21"
              y1="12"
              y2="12"></line><line x1="3" x2="21" y1="18" y2="18"></line>
          </svg>
          <svg
            class="hidden size-4 flex-shrink-0 hs-collapse-open:block"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M18 6 6 18"></path><path d="m6 6 12 12"></path>
          </svg>
        </button>
      </div>
    </div>
    <div
      id="navbar-with-mega-menu"
      class="hs-collapse hidden grow basis-full overflow-hidden transition-all duration-300 sm:block"
    >
      <div
        class="mt-5 flex flex-col gap-5 sm:mt-0 sm:flex-row sm:items-center sm:justify-end sm:ps-5"
        data-hs-scrollspy="#scrollspy-1"
        data-hs-scrollspy-scrollable-parent="#scrollspy-scrollable-parent-1"
      >
        <a
          class="active font-medium text-gray-600 hover:text-gray-400 hs-scrollspy-active:font-bold hs-scrollspy-active:text-black dark:text-gray-400 dark:hover:text-gray-500 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600 dark:hs-scrollspy-active:text-white"
          href="#about-me"
          aria-current="page"
        >
          <span class="text-purple-700 dark:text-purple-400">#</span>about-me
        </a>
        <a
          class="font-medium text-gray-600 hover:text-gray-400 hs-scrollspy-active:font-bold hs-scrollspy-active:text-black dark:text-gray-400 dark:hover:text-gray-500 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600 dark:hs-scrollspy-active:text-white"
          href="#projects"
        >
          <span class="text-purple-700 dark:text-purple-400">#</span>projects
        </a>
        <a
          class="font-medium text-gray-600 hover:text-gray-400 hs-scrollspy-active:font-bold hs-scrollspy-active:text-black dark:text-gray-400 dark:hover:text-gray-500 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600 dark:hs-scrollspy-active:text-white"
          href="#skills"
        >
          <span class="text-purple-700 dark:text-purple-400">#</span>skills
        </a>

        <button
          type="button"
          class="hs-dark-mode group block flex items-center font-medium text-gray-600 hover:text-purple-700 hs-dark-mode-active:hidden dark:text-gray-400 dark:hover:text-gray-500"
          data-hs-theme-click-value="dark"
          aria-label="Dark Mode Enable"
          id="dark-mode-enable"
        >
          <svg
            class="size-4 flex-shrink-0"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path></svg
          >
        </button>
        <button
          type="button"
          class="hs-dark-mode group flex hidden items-center font-medium text-gray-600 hover:text-purple-500 hs-dark-mode-active:block dark:text-gray-400 dark:hover:text-purple-400"
          data-hs-theme-click-value="light"
          aria-label="Dark Mode Disable"
          id="dark-mode-disable"
        >
          <svg
            class="size-4 flex-shrink-0"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><circle cx="12" cy="12" r="4"></circle><path
              d="M12 8a2 2 0 1 0 4 4"></path><path d="M12 2v2"></path><path
              d="M12 20v2"></path><path d="m4.93 4.93 1.41 1.41"></path><path
              d="m17.66 17.66 1.41 1.41"></path><path d="M2 12h2"></path><path
              d="M20 12h2"></path><path d="m6.34 17.66-1.41 1.41"></path><path
              d="m19.07 4.93-1.41 1.41"></path></svg
          >
        </button>
      </div>
    </div>
  </nav>
</header>

<script>
  import { isDarkMode } from "../stores/darkModeStore.js";

  document
    .getElementById("dark-mode-enable")!
    .addEventListener("click", () => isDarkMode.set(true));

  document
    .getElementById("dark-mode-disable")!
    .addEventListener("click", () => isDarkMode.set(false));
</script>
